body{
    background-color: rgb(179, 171, 171);
    display: flex;
    flex-direction: column;
}

.body{
    display: flex;
    flex-direction: row;
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px;
    align-self: center;
}
.squares{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}
.square{
    background-color: white;
    outline: 2px solid black;
    
}

.sidebar{
    width: 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sidebar button {
    background-color: rgb(179, 171, 171);
    margin-top: 10px;
}

.title, .subtext{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}


.title{
    font-size: 32px;
    font-weight: bold;
}

.subtext{
    font-size: 16px;
}


